[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "python/pybind11_opencv_numpy"]
	path = python/pybind11_opencv_numpy
	url = https://github.com/edmBernard/pybind11_opencv_numpy.git
[submodule "third_party/ncnn"]
	path = third_party/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "assets"]
	path = assets
	url = https://github.com/VNOpenAI/daisykit-assets.git
